# 1. Data Preprocessing

## 1.1.  Reading the data from World Bank's API

In [1]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 109.5/109.5 kB 769.6 kB/s eta 0:00:00a 0:00:01
Collecting lxml
  Downloading lxml-4.9.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.2/7.2 MB 1.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pandas>=0.23 in /home/ronggolawe/anaconda3/envs/new/lib/python3.11/site-packages (from pandas_datareader) (2.0.0)
Collecting requests>=2.19.0
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.6/62.6 kB 730.1 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ronggolawe/anaconda3/envs/new/lib/python3.11/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ronggolawe/anaconda3/envs/new/lib/python3.11/site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/ronggolawe/anaconda3/envs/new/lib/python3.11/site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/ronggolawe/anaconda3/envs/new/lib/python3.11/site-packages (from pandas>=0.23->pandas_datareader) (1.24.2)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.1.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (197 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 197.3/197.3 kB 813.6 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: idna<4,>=2.5 in /home/ronggolawe/anaconda3/envs/new/lib/python3.11/site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/ronggolawe/anaconda3/envs/new/lib/python3.11/site-packages (from requests>=2.19.0->pandas_datareader) (2.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /home/ronggolawe/anaconda3/envs/new/lib/python3.11/site-packages (from requests>=2.19.0->pandas_datareader) (2023.5.7)
Requirement already satisfied: six>=1.5 in /home/ronggolawe/anaconda3/envs/new/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: lxml, charset-normalizer, requests, pandas_datareader
Successfully installed charset-normalizer-3.1.0 lxml-4.9.2 pandas_datareader-0.10.0 requests-2.31.0

In [2]:
from pandas_datareader import wb

Go to: <url>https://databank.worldbank.org/source/world-development-indicators</url>

In [3]:
code = "EN.CO2.BLDG.ZS"

CO$_{2}$ emissions from residential buildings and from commercial and from public services (% of total fuel combustion).

Countries:

In [4]:
regions = ["BRA", "IND", "CHN", "ZAF", "USA", "GBR", "WLD", "EUU"]

Another interesting indicator: "EG.ELC.ACCS.ZS" electricity access

In [6]:
df_indicator = wb.download(
    country=regions,
    indicator=code,
    start=1971,
    end=2014
)

/home/ronggolawe/anaconda3/envs/new/lib/python3.11/site-packages/pandas_datareader/wb.py:592: UserWarning: Non-standard ISO country codes: EUU, WLD
  warnings.warn(

In [7]:
df_indicator

                   EN.CO2.BLDG.ZS
country      year
Brazil       2014        4.289736
             2013        4.508896
             2012        4.746116
             2011        5.159270
             2010        5.346396
...                           ...
South Africa 1975        6.572400
             1974        6.815974
             1973        6.949115
             1972        7.742371
             1971        7.925393

[352 rows x 1 columns]

The data contains CO$_2$ emission from buildings (including residential, commercial, and public services). This is a time-series dataset, because each date has a value. Here every year has a single value.